body{
    background-color: #e7dfd2;
}

.title{
    background-color: plum;
    color: #472525;
    text-align: center;
    margin: 0%;
}

input{
    border-radius: 5px;
    align-items: center;
}

.form-list{
    align-content: center;
    margin: 5rem 20rem;
}

.to-do_list {
    margin: auto;
    align-content: center;
}