body{
    background-color: #e7dfd2;
}

.add_list{
    align-content: center;
    margin: 10rem;
    border: 1px solid black;
    border-radius: 3rem;
}

.to-do_list {
    margin: auto;
    align-content: center;
}